body{
    margin: 0;
    font-family: 'Poppins', sans-serif;



}
h1{

    font-size: 40px;
   
}
.highlight{

   color: orange;
}
.f_width{
    width: 40%;
    float: left;
   
    margin-left: 5%;
    padding-left: 2%;
}
.f_width img{

        width: 100%;


}
.top_bannar{

    background-image: url("../images/top-banner.png");
    
    
  
    background-repeat: no-repeat;
}
section{
    height: 650px;
}
.link_button{

    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    background-image: linear-gradient( 45deg, lightsalmon,tomato);


}