body{

    font-family: 'Poppins', sans-serif;



}
h1{

    font-size: 40px;
   
}
.highlight{

   color: orange;
}
.f_width{
    width: 40%;
    float: left;
   
    margin-left: 5%;
    padding-left: 2%;
}
.f_width img{

        width: 100%;


}